.contact{
    padding: 100px 0;
  .head{
    @include headTitle;
    p{
        width: 70%;
        margin: auto;
        @media (max-width:991px) {
            width: 90%;
        }
    }
  }
}

.map{
    padding: 100px 0;
    iframe{
        width: 100% !important;
    }
}