.newslatter{
    padding: 100px 0;
    .head{
        @include headTitle;
    }
    .form{
        form{
            width: 50%;
            @media (max-width:991px) {
                width: 90%;
            }
            margin: auto;
            border: 2px solid rgb(183, 183, 183);
            border-radius: 30px;
            display: flex;
            overflow: hidden;
            input{
                width: 100%;
                border: none;
                outline: none;
                padding: 10px 20px;
            }
            button{
                padding: 10px 30px;
                background-color: #32E2A9;
                border: none;
                outline: none;
                border-radius: 30px;
                color: #fff;
            }
        }
    }
}